
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    background: black;
  }
  .heading ul {
    display: flex;
  }
  
  .logo a:hover {
    color: rgb(240, 197, 6);
    transition-duration: 1s;
  }
  .heading ul li {
    list-style: none;
  }
  .heading ul li a {
    margin: 5px;
    text-decoration: none;
    
    font-weight: 500;
    position: relative;
    color: white;
    margin: 2px 14px;
    font-size: 18px;
    transition-duration: 1s;
  }
  
  .heading ul li a:hover {
    color: rgb(243, 168, 7);
    transition-duration: 1s;
  }
  
  
  #input {
    height: 30px;
    width: 300px;
    text-decoration: none;
    border: 0px;
    padding: 5px;
  }
  .logo a {
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: 1s;
  }
  
  .search a {
    display: flex;
  }

   .items .cart{
    text-align: center;
  }
  
  
 
  
  .img-slider {
    display: flex;
    float: left;
    position: relative;
    width: 80%;
    height: 600px;
    
  }
  .section1 {
    width: 80%;
    overflow: hidden;

    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }
  .section2 .container {
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    position: relative;
  }
  .section2 .container .items {
    margin: 10px;
    width: 300px;
    height: 450px;
    background-color: white;
    border: 2.5px solid black;
    border-radius: 12px;
  }
  .section2 .container .items .name {
    text-align: center;
    background-color: black;
    height: 25px;
    padding: 4px;
    color: white;
    margin: 0;
    
  }
  .section2 .container .items .price {
    float: left;
    text-align: center;
    padding-left: 10px;
    display: block;
    width: 100%;
    background-color: black;
    color: rgb(255, 0, 0);
    font-weight:bolder;
    
  }
  .section2 .container .items .info {
    padding-left: 10px;
    
    color: black;
    
   
  }
  .section2 .container .items .img img {
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    transition-duration: 0.8s;
  }
  .section2 .container .items .img {
    overflow: hidden;
    margin: 0;
  }
  .section2 .container .items:hover .img img {
    transform: scale(1.2);
    transition-duration: 1s;
    
  }
  footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    color: white;
  }
  
  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 20px;
  }
  
 
 
  
  .footer0 {
    font-weight: 1200;
    transition-duration: 1s;
  }
  .footer0:hover {
    color: rgb(243, 168, 7);
  }
  
  .footer3 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .footer3 h4 {
    margin: 0PX 10px;
  }
  .social-media {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
  }
  .social-media a {
    color: white;
    margin: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
  }
 
 
  
 
  
  
    

  
